player-connection-mode=Listen
player-connection-guid=2003210902
player-connection-debug=0
player-connection-project-name=DungeonCrawler
player-connection-ip=25.35.237.3
player-connection-ip=169.254.150.217
player-connection-ip=169.254.101.65
player-connection-ip=192.168.1.6
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
